h1 {
  font-size: 60px;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  color:#382925;
}

body {
  padding-left: 10px;
  background-color: #8e8c8b;
  font-size: 29px;
  background-image: url("http://villa-ruthenberg.de/WebRoot/Store27/Shops/10233e7a-3fa9-4d1e-8ae0-73cc0980bd46/597B/3721/37CE/9AE6/FFF7/0A48/3670/157D/PizzaCasa_ml.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.pizzaOrder{
  cursor: pointer;
  color: #0088cc;
}

pizzaOrder:hover {
  text-decoration: underline;
}
