h1 {
  font-size: 60px;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  color:#382925;
  margin:25px;
}

body {
  padding-left: 10px;
  background-color: #8e8c8b;
  font-size: 29px;
  background-image: url("http://villa-ruthenberg.de/WebRoot/Store27/Shops/10233e7a-3fa9-4d1e-8ae0-73cc0980bd46/597B/3721/37CE/9AE6/FFF7/0A48/3670/157D/PizzaCasa_ml.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.pizzaOrderName {
  cursor: pointer;
  color: #0088cc;
}

pizzaOrderName:hover {
  text-decoration: underline;
}

#h1Banner {
  margin:20px;
  padding:10px;
}

img {
  height:120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label, .font-label, .output-text, .pizzaOrderName {
 font-family: 'Playfair Display', serif;
 margin: 10px;
 font-size: 29px;
}

.input-text, .btn-style  {
  font-family: 'IBM Plex Serif', serif;
  font-size: 29px;
}

.btn {
  padding: 14px 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3d5432;
  font-size: 22px;
}

a:hover {
  opacity:1;
  color: #777c76;
  cursor:pointer;
}

#order-output {
  display: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
